.test {
  border: 1px solid red;
}

body {
  font-family: 'Nunito Regular';
}

.h-40 {
  height: 40% !important;
}

.pl-6 {
  padding-left: 5rem;
}
h3 {
  font-family: 'Nunito Bold';
  font-size: 2.425rem;
  letter-spacing: .02rem;
  margin-bottom: 0.25rem;
}

span {
  font-size: 1.3125rem;
  letter-spacing: .08rem;
  padding-bottom: .8rem;
}

p {
  font-family: 'Nunito Light';
  font-size: 1.3125rem;
  letter-spacing: .04rem;
}

.btn-primary {
    color: #fff;
    background-color: rgba(0,0,0,1);
    border-color: rgba(0,0,0,1);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.5);
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
}

section.hero h1 {
  font-family: 'Nunito Bold';
  color: #fff;
  font-size: 5rem;
  letter-spacing: .1rem;
}

section.hero p {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: .1rem;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

header a.navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}

header li.nav-item {
  padding: 2rem;
}

section.hero {
  background: url(../img/hero_01.jpg);
  background-size: cover;
  background-position: bottom;
  height: 80vh;
}

section.hero::before {
  content: " ";
  width: 100%;
  height: 80vh;
  background: #000;
  position: absolute;
  opacity: .3;
}

section.about {
  height: 100vh;
  background: rgb(235,235,235);
  background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(235,235,235,1) 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
}

section.about .image_wrapper {
  background: #fff;
  box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.57);
  -webkit-box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.57);
  -moz-box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.57);
  text-align: center;
}

section.about  .image_wrapper img {
  padding: 1rem;
}

section.services {
  background: #ebebeb;
  height: 100vh;
}

section.services hr {
  width: 5rem;
  border-top: 2px solid rgb(0, 0, 0, 1);
}

section.services .row:first-child {
  padding: 5rem 0 5rem 0;
}

footer {
  background: #000;
}

footer .footer_logo {
  color: #fff;
  font-size: 2.1875rem;
  font-family: "Nunito Light"
}
